.box {
    border: 1px solid black;
    width: 500px;
}

.item-img {
    width: 400px;
    height: 400px;
}

.main {
    display: flex;
    justify-content: center;
}

.win {
    border: 5px solid green;
}

.lose {
    border: 5px solid red;
}

.tie {
    border: 5px solid black;
}

@media screen and (max-width: 1000px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
}
